# Python
__pycache__/
*.pyc
*.pyo
*.pyd
venv/
.env
.env.*
# project venv
/.venv/

# SQLite DB
dev.db
backend/dev.db
backend/.cred_key

# Private keys and pem files
*.pem
*.key
id_rsa
id_rsa.pub
*.crt
*.cert

# Node
node_modules/
/dist
/build

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db
